{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block b1 %}
    You are in about page of Nirav.com
{% endblock b1 %}

{% block b2 %}
    <h3>if you want to know about me and my website read below text.</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat magni eius corrupti perferendis officia dicta quasi sint odio, error enim quis accusantium amet odit exercitationem unde ducimus iusto. Iure magni consequatur obcaecati voluptates dolor dolorum fugiat, ipsa voluptate tempore reprehenderit repellendus deserunt omnis. Minima fugit quia, illo est quo animi ea in id esse explicabo ipsum laboriosam maiores temporibus sed optio necessitatibus nesciunt assumenda saepe unde accusantium!
    <h3>Follow me on this : </h3>
    Twitter - Niravxyz <br>
    Instagram - abcdefghi <br>
    Youtube - The Unique
{% endblock b2 %}

