<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{info.method}}</h3>

    <p>FirstName : {{info.FirstName}}</p>
    <p>MiddleName : {{info.MiddleName}}</p>
    <p>LastName : {{info.LastName}}</p>
    <p>Email : {{info.Email}}</p>
    <p>BirthDate : {{info.BirthDate}}</p>
    <p>MobileNo : {{info.MobileNo}}</p>
    <p>LocalAddress : {{info.LocalAddress}}</p>
    <p>PermanentAddres : {{info.PermanentAddres}}</p>
    <p>Pincode : {{info.Pincode}}</p>
    <p>Password : {{info.Password}}</4>
    <p>ConfirmPassword : {{info.ConfirmPassword}}</p>
</body>
</html>